body {
    /* background-image: url(../img/fontBody.jpg);
    background-size: cover; */
}

#navbar {
    text-align: center;
    font-family: 'inkput-antiqua', cursive;
    background-color: black;
}

#intro {
    text-align: center;
    font-size: 20px;
    font-family: 'Staatliches', cursive;
}

#caroussel {
    background-color: darkblue;
}

#search {
    background-color: purple;
}